<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sliceofpieEntities" connectionString="metadata=res://*/MySQLModel.csdl|res://*/MySQLModel.ssdl|res://*/MySQLModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=79.143.187.42;User Id=sop;password=Kildevand;Persist Security Info=True;database=sliceofpie&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>