<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sliceofpieEntities" connectionString="metadata=res://*/MySQLModel.csdl|res://*/MySQLModel.ssdl|res://*/MySQLModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;User Id=root;password=root;Persist Security Info=True;database=sliceofpie&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>