@model SliceOfPie.Document

@{
    ViewBag.Title = "Show";
}

<fieldset>
    <legend>@Model.Title</legend>

    <div class="display-field">
        @Html.Raw(Model.CurrentRevision)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id })
</p>
