@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>
<p>Create new project!</p>

@*@model SliceOfPie.Project
@using (Html.BeginForm())
{
    @Html.EditorFor(x => x.Title)
    <input type="submit" value="Create" />
}*@


<p>Here will be a list of all projects.</p>
<li>@Html.ActionLink("@title", "Project", "Home")</li>