@model  SliceOfPie.Project
@{
    ViewBag.Title = "Project";
}

<h2>@Model.Title</h2>
<table>
@foreach (SliceOfPie.Folder item in Model.GetFolders()) {
    <tr>
        <td>
            @Html.DisplayFor(Folder => item.Title)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>


